h2{
    color: red;
}


/*referencia por palabra clave*/
body{
    background-color: black;
}

p{
    color: white;
}

h3{
    color: green;
}

li{
    color: yellow;
}

img{
    color: white;
}

article{
    color: white;
}

header{
    color: white;
}

nav>ul>li{
    color: yellow;
}